<div *ngIf="!isLoading">
  <h1>Modifier une chaussure</h1>

  <form #chaussureForm="ngForm" (ngSubmit)="editChaussure()">

    <!-- EN UTILISANT UN INPUT TEXT -->

    <label for="nom">Renseigner le nom de la chaussure</label>
    <input type="text" class="form-control" name="nom" id="nom" required [(ngModel)]="chaussure.nom" #nom="ngModel">

    <!-- EN UTILISANT DES INPUTS RADIO -->
    <label for="marque">Renseigner une marque</label>
    <div *ngFor="let marque of typeMarque">
      <input type="radio" id="marque" name="marque" [value]="marque" required [(ngModel)]="chaussure.marque"
        #marque="ngModel">
      <label class="radioMarque" for="marque"> {{marque}}</label>
    </div>

    <!-- EN UTILISANT UN INPUT NUMBER -->

    <label for="taille">Renseigner une taille</label>
    <input type="number" class="form-control" name="taille" id="taille" required [(ngModel)]="chaussure.taille"
      #taille="ngModel">


    <!-- EN UTILISANT UN SELECT -->

    <div>
      <label for="type">Type de chaussure</label>
      <select class="form-control" id="type" required [(ngModel)]="chaussure.type" name="type" #type="ngModel">
        <option *ngFor="let item of typeChaussure" [value]="item">{{item}}</option>
      </select>

      <!-- EN UTILISANT UN INPUT DATE -->

      <div>
        <label for="dateEntree">Renseigner une date d'entrée</label><br>
        <input type="date" name="dateEntree" id="dateEntree" required [(ngModel)]="chaussure.dateEntreStock"
          #dateEntree="ngModel">
      </div><br>
      <div>
        <!-- ON AFFICHE UNE DIV POUR DIRE QUE TOUS LES CHOIX SONT OBLIGATOIRES -->
        <div [hidden]="chaussureForm.valid" class="alert alert-danger">
          Tous les champs sont obligatoire
        </div>

        <input [disabled]="!chaussureForm.valid" type="submit" value="Envoyer">
      </div>
    </div>
  </form>
</div>



<div *ngIf="isLoading">
  <p>Traitement des données....</p>
</div>
