<div class="detail" *ngIf="!isloading">
  <h1>Plus d'information sur le produit ID {{chaussure.id}} :</h1><br>
  <h4>Nom de la chaussure : {{chaussure.nom}}</h4>
  <h4>Marque : {{chaussure.marque}}</h4>
  <h4>Type : {{chaussure.type}}</h4>
  <h4>Taille : {{chaussure.taille}}</h4>
  <h4>Date d'entrée en stock : {{chaussure.dateEntreStock | date:'dd/MM/yyyy'}}</h4>
  <button class="btn btn-success" routerLink="/home">Retour à la liste</button>
</div>


<div *ngIf="isloading">
  <p>Chargement des données....</p>
