<h4>Total de chaussures enregistrées : {{chaussures.length}}</h4>

<!-- <a class="btn btn-danger" routerLink="/planets/add">Ajouter une planete</a> -->

<table class="table table-dark">
  <thead>
    <th>ID</th>
    <th>Nom</th>
    <th>Marque</th>
    <th>Type</th>
    <th>Taille</th>
    <th>Date entree en stock</th>
  </thead>
  <tbody>

    <tr *ngFor="let item of this.chaussures">
      <td>{{ item.id }}</td>
      <td>{{ item.nom }}</td>
      <td>{{ item.marque }}</td>
      <td>{{ item.type }}</td>
      <td>{{item.taille}}</td>
      <td>{{item.dateEntreStock}}</td>
      <td></td>

      <!-- <td><a class="btn btn-warning" [routerLink]="['/planets', chaussures.id]">En savoir plus</a></td> -->
      <!-- <td><a class="btn btn-primary" [routerLink]="['/planets/update', chaussures.id]">Editer</a></td> -->

      <!-- <td> <a class="btn btn-danger" (click)="deletePlanet(planet.id)">Supprimer</a></td> -->
    </tr>
  </tbody>
</table>
